@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap');
@import "./utils/variables";
@import "./utils/mixins";

@import "./base/typography";

@import "./layouts/navigation";

@import "./components/first-section";
@import "./components/second-section";
@import "./components/third-section";
@import "./components/fourth-section";       
@import "./components/footer-section";



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    background: url("/images/bg-tablet-pattern.svg");
    background-repeat: no-repeat;
    background-position: top -70px right -30px;
    background-size: contain;
    font-family: $font-stack;
    font-weight: 400;
    height: 100%;
    width: 100%;
    @include small{
        background-size: 400px;
    }
    @include medium{
        background-size: 500px;
    }
    @include large{
        background-size: 550px;
    }
    @include xlarge{
        background-size: 600px;
    }
    @media screen and (min-width:900px) and (max-width:1023px){
        background-size: 470px;
    }
}