 .third{  
    text-align: center;
    @media screen and (max-width:767px){
         margin-bottom: 100px;
      }
     &__content{
         margin-bottom: 100px;
         .testimonial-header{
            @include header;
            font-weight: 700;
            text-align: center;
            padding-top: 50px;
            @include ldesktop{
                padding-top: 150px;
            }
         }
         &--slider{
             display: flex;
             flex-direction: column;
             text-align: center;
             @include ipad{
                 flex-direction: row;
                 flex-wrap: wrap; 
             }
             .slide{
                 height: auto;
                 width: 330px;
                 margin: 100px auto 20px;
                 background-color: $very-light-gray;
                 @media screen and (min-width:660px) and (max-width:767px){
                   width: 500px;
                 }
                 @media screen and (max-width:767px){
                    display: none;
                    &.active{
                        display: block;
                        animation: slide 2s ease;
                    }
                    @keyframes slide {
                        0%{
                            opacity: 0;
                            transform: translateY(50px);
                        }
                        100%{
                            opacity: 1;
                            transform: translateY(0px);
                        }
                    }
                  }
                 @include ipad{
                    width: 350px;
                }
                 @include small{
                    width: 380px;
                }
                @include medium{
                    width: 500px;
                }
                @include large{
                    width: 400px;
                }
                @include xlarge{
                    width: 450px;
                }
                @include ldesktop{
                    width: 500px;
                }
                
                 img{
                    margin-top: -50px;
                    width: 100px;
                 }
                 span{
                     @include header;
                     display: block;
                     padding-top: 20px;
                     font-weight: 700;
                 }
                 .testimony{
                     @include paragraph;
                     padding: 20px 30px;
                 }
             }
             .slides{
                height: 15px;
                width: 15px;
                border-radius: 50%;
                border: 3px solid $bright-red;
                background-color: #fff;
                display: inline-block;
                cursor: pointer;
                &.active{
                    background-color: $bright-red;
                }
                @include ipad{
                    display: none;
                }
            }
            @media screen and (max-width:659px){
                .slide2, .slide3, .slide4{
                    display: none;
                }
            }
         }
     }
     a{
        @include button;  
     }
 }